<div class="intro">
  <div class="container" [ngClass]="isIntroHidden() ? 'container--running' : 'container--paused'"
    (animationend)="onCloseIntro($event)">
    @defer (on timer(900ms)) {
    <div class="char-boxes">
      <div class="char-box">
        <span class="char-box__char1">P</span>
        <span class="char-box__char1">a</span>
        <span class="char-box__char1">s</span>
        <span class="char-box__char1">s</span>
        <span class="char-box__char1">w</span>
        <span class="char-box__char1">o</span>
        <span class="char-box__char1">r</span>
        <span class="char-box__char1">d</span>
      </div>
      <div class="char-box">
        <span class="char-box__char2">G</span>
        <span class="char-box__char2">e</span>
        <span class="char-box__char2">n</span>
        <span class="char-box__char2">e</span>
        <span class="char-box__char2">r</span>
        <span class="char-box__char2">a</span>
        <span class="char-box__char2">t</span>
        <span class="char-box__char2">o</span>
        <span class="char-box__char2" (animationend)="onHideIntro()">r</span>
      </div>
    </div>
    }
  </div>
</div>
